@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  @apply text-13

}

.container {
  @apply max-w-[1200px] w-full mx-auto
}

.input{
  @apply h-11 w-full relative rounded-lg shadow-md px-1 border-2 
}

.paddimg {
  @apply px-4 xl:px-0;
}

::-webkit-scrollbar{
  display: none;
}

.transition-bg-300{
  transition: 300ms background;
}

.transition-bg-500{
  transition: 500ms background;
}


/* HTML: <div class="loader"></div> */
.loader {
  --s: 8px;
  width: calc(var(--s)*2.33);
  aspect-ratio: 1;
  display: flex;
  justify-content: space-between;
  animation: l29-0 1s infinite;
}
.loader::before,
.loader::after {
  content: "";
  width: var(--s);
  --_g: no-repeat radial-gradient(farthest-side,#ffffff 94%,#0000);
  background:
    var(--_g) top,
    var(--_g) bottom;
  background-size: 100% var(--s);
  transform-origin: 50% calc(100% - var(--s)/2);
  animation: inherit;
  animation-name: l29-1;
}
.loader::after {
  --_s:-1;
}
@keyframes l29-0 {
    100% {transform:translateY(calc(var(--s) - 100%))}
}
@keyframes l29-1 {
    100% {transform:rotate(calc(var(--_s,1)*-180deg))}
}


.bgLinear1{
background-image: linear-gradient(90deg, rgb(245, 189, 189), rgb(201, 201, 248));
}
.card {
  background: linear-gradient(to top right, rgba(250, 0, 0, 0.5), rgba(250, 81, 81, 0.5));
  border-radius: 16px;
  backdrop-filter: blur(7.1px);
  -webkit-backdrop-filter: blur(7.1px);
}
.card1{
  background: linear-gradient(to top right, rgba(83, 247, 50, 0.5), rgba(0, 250, 146, 0.75));
  border-radius: 16px;
  backdrop-filter: blur(7.1px);
  -webkit-backdrop-filter: blur(7.1px);
}
.card2{
  background: linear-gradient(to top right, rgba(84, 81, 250, 0.5), rgba(154, 248, 243, 0.5));
  border-radius: 16px;
  backdrop-filter: blur(7.1px);
  -webkit-backdrop-filter: blur(7.1px);
}
.card3{
  background: linear-gradient(90deg, rgba(245, 94, 195, 0.5), rgba(255, 0, 200, 0.75));
  border-radius: 16px;
  backdrop-filter: blur(7.1px);
  -webkit-backdrop-filter: blur(7.1px);
}